.container {
    background: darkturquoise;
    width: 400px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    border: 3px solid blue;
}

.digitContainerRight {
    font-size: 100px;
    border-radius: 10px;
    border: 3px solid blue;
    color: white;
    margin: 20px;
    height: 120px;
}

.digitContainerLeft {
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid blue;
    /*color: white;*/
    margin: 20px;
    height: 120px;
}

.digitContainerLeft input {
    margin: 3px;
    font-size: 40px;
    width: 90px;
}

.buttonsContainer {
    margin: 20px;
    border-radius: 10px;
    border: 3px solid blue;
}

button {
    margin: 20px;
    font-size: 40px;
    border-radius: 15px;
    background: lightblue;

}

.disabled {
    color: red;
}